* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

.side-nav {
    width: 200px;
    height: 100%;
    background: #fc8a43;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}
.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 10px 0;
}

.nav-links li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}

.active {
    background: #ed6e42;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(93, 49, 35, 0.4);
    display: none;
    transition: top 0.5s;
}

.nav-links li:hover a {
    color: #ffffff;
    transition: 0.3s;
}

.nav-links li:hover~.active {
    display: block;
}

.nav-links li:nth-child(1):hover~.active {
    top: 2.6%;
}

.nav-links li:nth-child(2):hover~.active {
    top: 22%;
}

.nav-links li:nth-child(3):hover~.active {
    top: 42%;
}

.nav-links li:nth-child(4):hover~.active {
    top: 62%;
}

.nav-links li:nth-child(5):hover~.active {
    top: 82%;
}

body {
    text-align: center;
    background-color:#fff7e6;
    padding: 0;
}
h1 {
    font-family:"Poppins",
        sans-serif;
    padding-bottom: 30px;
    padding-top: 40px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    
}
.dot span{
    padding-left: 35px;
    display: inline-block;
    white-space: nowrap;
    padding-top: 4px;

}
#errorMsg {
    background-color: rgba(224, 118, 118, 0.559);
    color: rgb(190, 61, 61);
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 60%;
    line-height: 25px;

}

#errorDayMax {
    color: rgb(190, 61, 61);
    padding-bottom: 50px;

}
.container {
    display: inline-block;
}

.moodBoard {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-gap: 8px;
    padding-top:30px;
}

.cell {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    background: white;
    border-radius: 3px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.cell.hovered {
    border: 2px dashed;
}

.cell.darkRed {
    background-color:rgb(184, 47, 47);
}

.mediumRed {
    background-color: rgb(219, 69, 69);
}

.lightRed {
    background-color: rgb(203, 129, 129);
}

.darkOrange {
    background-color: rgb(211, 104, 27);
}

.mediumOrange {
    background-color: rgb(219, 147, 69);
}

.lightOrange {
    background-color: rgb(223, 187, 96);
}


.darkBlue {
    background-color: rgb(12, 112, 170);
}

.mediumBlue {
    background-color: rgb(80, 156, 211);
}

.lightBlue {
    background-color: rgb(123, 194, 227);
}


.darkGreen {
    background-color: rgb(50, 111, 41);
}

.mediumGreen {
    background-color: rgb(95, 171, 99);
}

.lightGreen {
    background-color: rgb(146, 220, 148);
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.extra-info {
    margin-top: 80px;
}

.extra-info p {
padding-bottom: 50px;
}
.eventBtn {
    padding-bottom: 50px;
}

.btn {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 16px;
    background-color: #fea64d;
    border: orange solid 1px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn:hover {
    background: #ffc67a;
    border-color: #ffc67a;
}

.btn:active,
.btn.clicked {
    background-color: #ed6e42;
    border-color: #ed6e42;
}

.btn:focus {
    outline: none;
}
.submitBtn {
    margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 150px;
        padding-right: 150px;
        border-radius: 16px;
        background-color: #ff6200;
        border: orange solid 1px;
        transition: background-color 0.3s, border-color 0.3s;
}

.submitBtn:hover {
    background: #ff6200;
    border-color: #ff6200;
}

.submitBtn:active,
.submitBtn.clicked {
    background-color: #ed6e42;
    border-color: #ed6e42;
}

.submitBtn:focus {
    outline: none;
    /* Remove the default focus outline */
}

/*HOME*/

#content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        margin-left: 200px;
            min-height: 100vh;
            padding: 20px;
            box-sizing: border-box;

                @media (max-width: 768px) {
                    #content-container {
                        margin-left: 0;
                    }
}
#welcomeMsg {
    font-size: 30px;
    margin-top: 50px;
}

#date-container {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 25px;
}



/*SETTINGS*/
.lead {
    margin-bottom: 20px;
}
}

.containerSettings {
    background-color: #fff;
    width: 80vw;
    height: 80vh;
    margin-left: 0;
    border: #e1dede solid 1px;
    border-radius: 6px;
    display: flex;
    margin-left: 220px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
}

.subSettings {
    border-right: solid 1px #e1dede;
    width: 20vw;
    height: 80vh;
    padding-top: 30px;
}

.generalTitle {
    padding: 20px;
    color: gray;
}

.tablink {
    padding-top: 30px;
    background-color:rgb(249, 245, 238);
    color: gray;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
    text-align: left;

}

.tablink:hover {
    background-color: #c5c0c0;
}

.tabcontent {
    color: black;
    padding: 20px;
    height: 100%;
    width: 100%;
    border-top: grey;
}

#Home {
    background-color: red;
}

#News {
    background-color: #fea64d;
}

#Contact {
    background-color: blue;
}

#About {
    background-color: orange;
}

.avatar-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
    border: rgb(178, 178, 178) 1px solid
}

.updateAvatar {
    padding: 10px;
    background-color: #fea64d;
    color: white;
    border: none;
    border-radius: 8px;
}

.removeAvatar {
    padding: 10px;
    background-color: #fea64d;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 20px;
    font-size: 17px;
}

.userDetails {
    margin: 50px 20px 0 0;
}

  .userDetails label {
      display: block;
      margin-bottom: 5px;
      text-align:left;
  }

  .userDetails input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: none;
      border-radius: 6px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }

  .userDetails button {
      margin-top: 10px;
  }

        em {
            margin-left: 20px;
            float: left;
            margin-top: 50px;
        }

  .checkbox-wrapper .darkMode {
      appearance: none;
      background-color: #dfe1e4;
      border-radius: 72px;
      border-style: none;
      flex-shrink: 0;
      height: 20px;
      margin: 0;
      position: relative;
      width: 30px;
      margin-top: 50px;
      float: left;

  }

  .checkbox-wrapper .darkMode::before {
      bottom: -6px;
      content: "";
      left: -6px;
      position: absolute;
      right: -6px;
      top: -6px;
  }

  .checkbox-wrapper .darkMode,
  .checkbox-wrapper .darkMode::after {
      transition: all 100ms ease-out;
  }

  .checkbox-wrapper .darkMode::after {
      background-color: #fff;
      border-radius: 50%;
      content: "";
      height: 14px;
      left: 3px;
      position: absolute;
      top: 3px;
      width: 14px;
  }

  .checkbox-wrapper input[type=checkbox] {
      cursor: default;
  }

  .checkbox-wrapper .darkMode:hover {
      background-color: #c9cbcd;
      transition-duration: 0s;
  }

  .checkbox-wrapper .darkMode:checked {
      background-color: #6e79d6;
  }

  .checkbox-wrapper .darkMode:checked::after {
      background-color: #fff;
      left: 13px;
  }

  .checkbox-wrapper :focus:not(.focus-visible) {
      outline: 0;
  }

  .checkbox-wrapper .darkMode:checked:hover {
      background-color: #535db3;
  }

/*PROFILE*/
.profile h1 {
    margin-top: 50px;
}

#yourImg {
    margin-right: 100px;
}

#partnerImg {
    margin-left: 100px;
}

.andSign {
    border: solid 1px #fff;
    padding: 10px 15px;
    border-radius: 50px;
    background: #ff6200;
    color: #fff;
}

.image-container img,
.image-container h2 {
    margin-top: 50px;
    display: inline-block;
    vertical-align: middle;
}

.nameProfile h3 {
    display: inline-block;
    margin-top: 50px;
}

#yourName {
    margin-right: 200px;
}

#pName {
    margin-left: 200px;
}

.info {
    margin-top: 100px;
}

/* ANALYTICS */
.chart-container {
    margin-left: 250px;
}

.chartBox {
    width: 700px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.chartActivities {
    width: 700px;

}

.topMoodsContainer {
    width: 300px;
    height: 300px;
    background-color:#fff;
    margin: 50px 0 0 250px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    order:1;
}

.topMoods {
    display: flex;
    justify-content: center;
}

#topMoodText {
    color: grey;
    font-size: 15px;
    padding: 20px;
}
.topMoodGroup {
    width: 70px;
    height: 130px;
    margin: 30px 10px 10px 10px;
    border-radius: 25px;
    padding: 20px;

    h2 {
        font-size: 12px;
        margin-top: 20px;
        margin-left: -10px;
    }

    h3 {
        font-size:12px;
        font-weight:100
    }

    h4 {
        background-color: #ff6200;
        border-radius: 25px;
        padding: 5px;
        margin-bottom: 5px;

    }
}

#topMood2 {
order: 1;
background-color:#ffd8af;

}

#topMood1 {
order: 2;
background-color: #fea64d;
height: 160px;
margin-top: 20px;
padding-top: 35px;

}

#topMood3 {
order: 3;
background-color: #ffd8af;

}

#year-in-pixels {
    margin: 50px;
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 8px;
    order: 2;
    height: 250px;
    width: 870px;

}

.bottomAnalytics {
    display: flex;
}

.cube {
    width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        display: inline-block;
    }
    
    .red {
        background-color: red;
    }
    
    .green {
        background-color: green;
    }
    
    .blue {
        background-color: blue;
    }
    
    .yellow {
        background-color: yellow;
    }


    /* DARK MODE */

    /* Media query to enable dark mode based on checkbox state */
    @media (prefers-color-scheme: dark) {
        body:not(.dark-mode) {
            background-color: #1e1e1e;
            /* Dark background color */
            color: #ffffff;
            /* Dark text color */
        }

        textarea:not(.dark-mode) {
            background-color: #656464;
            color: #ffffff;
        }

        .chartBox:not(.dark-mode) {
            background-color: #6564644a;
        }

        .topMoodsContainer:not(.dark-mode) {
            background-color: #6564644a;
        }

        #year-in-pixels:not(.dark-mode) {
            background-color: #6564644a;
        }

        .containerSettings:not(.dark-mode) {
            background-color: #6564644a;
            color: white;
        }


        .userDetails:not(.dark-mode) {
            color: white;
        }

        input:not(.dark-mode) {
            background-color: #aaa7a764;
            color: white;
        }

        h2:not(.dark-mode),  h3:not(.dark-mode) {
            color: white;
        }

        em:not(.dark-mode) {
            color: white;
        }

        .tablink:not(.dark-mode) {
            background-color: #6564644a;
        }
    }